.homepage {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
  padding: 0 100px;
}

.posts {
  flex: 7;
}

.post {
  margin-bottom: 10px;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px;
  border-radius: 7px;
}

.postUpper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postAuthor {
  font-weight: 700;
  font-size: 20px;
}

.time {
  font-weight: 300;
  font-size: 14px;
}

.postText {
  font-size: 17px;
  margin: 10px 0;
}

.postImage {
  height: 250px !important;
  width: 100%;
  object-fit: cover;
  border: 3px solid rgba(78, 158, 249, 0.739);
}

.postBottom {
  display: flex;
  align-items: center;
  width: 100%;
}

.postBottom button {
  background: transparent;
  border: 0;
  cursor: pointer;
}

.postBottom a,
.postBottom button {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px;
}

.icons {
  cursor: pointer;
}

.leaderboard {
  flex: 4;
  margin-left: 30px;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px;
  border-radius: 7px;
}

.title {
  font-size: 25px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.616);
  margin-bottom: 20px;
}

.users {
  font-size: 17px;
  margin-bottom: 10px;
  padding-bottom: 4px;
  font-weight: 600;
  color: #4385ff;
}

@media screen and (max-width: 768px) {
  .homepage {
    padding: 0 10px;
    flex-direction: column-reverse;
    align-items: unset;
  }

  .leaderboard {
    margin-left: 0;
  }
}
